body {
    padding-top: 65px;
    max-width: 1366px;
    margin: 0 auto;
}

#map {
    min-height: 500px;
    position: relative;
}
.item {
    max-width: 250px;
    max-height: 100px;
    overflow: hidden;
    position: absolute;
    z-index: 50;
}
.item>.panel-heading {
    display: none;
}
.item:hover, .item.dragging {
    margin-top: -31px;
    z-index: 100;
}
.item.dragging>.panel-heading,
.item:hover>.panel-heading {
    display: block;
}
.item>.panel-body {
    padding: 5px;
}

.glyphicon-new-window {
    cursor: pointer;
}
.current-item-container {
    padding-left: 40px;
}
.current-item-container-tabs {
    margin-bottom: 15px;
}

.blocker {
    opacity: 0.7;
    background: #ccc url(/img/ajax-loader.gif) center center no-repeat;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    text-align: center;
}

.btn-primary + .btn-primary {
    margin-left: 10px;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.search-panel-results-item .glyphicon-import {
    cursor: pointer;
    margin-right: 10px;
}

.item .panel-heading {
    padding: 5px;
}
.item .glyphicon-move {
    cursor: crosshair;
    margin-right: 10px;
}
.item .glyphicon-remove {
    float: right;
    margin-left: 15px;
    margin-top: 1px;
    cursor: pointer;
}
.open-item-map {
    cursor: pointer;
    margin-right: 10px;
}

.cke_editable {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
}

.item-type0 {
    border: solid 1px green;
    background-color: #dfd;
}
.item-type1 {
    border: solid 1px red;
    background-color: #fdd;
}

.item.panel-default>.panel-heading {
    background-color: black;
    color: #9d9d9d;
}
.item.panel-default>.panel-heading .glyphicon:hover {
    color: white;
}
.smlink {
    background: #00ff26;
    cursor: pointer;
    text-decoration: underline;
    /*-webkit-user-modify: read-only;*/
    /*-moz-user-modify: read-only;*/
}
.smlink-editor .dropdown-menu>li>a { color: #333; }
.smlink-editor .dropdown-menu {
    max-height: 300px;
    overflow-y: scroll;
}

.sm-text {
    border: solid 1px #2aabd2;
    position: relative;
}
.sm-cursor {
    position: absolute;
    animation: 1.5s blink step-end infinite;
}
@keyframes blink {
    from, to { color: transparent; }
    50% { color: black; }
}
